
{% extends 'base.html'%}

{% block contents %}
{% load static %}
<style>
        .contents{
            width: 100%;
            height: 60px; 
            font-size: 40px;
            margin: auto;
            margin-top: 60px;
            margin-bottom: 20px;
            text-align:center;
            
        }
        .detail{
            width: 50%;
            height: 100px; 
            margin: auto;
            text-align: center;
        }
        .profile-image{
            margin:auto;
            margin-top:50px;
            width:200px;
            height:200px;
        }
        .box-contents{
            width:100%;
            height:100%;
            margin:50px 0px;
        }
        .subject{
            width:200px;
            height:40px;
            margin: auto;
        }
        .subject-num{
            font-size:20px;
            margin-left:10px;
            margin-right:10px;
            color:slateblue;
        }
        .subject-name{
            font-size:30px;
             margin-left:10px;
            margin-right:10px;
        }
        .paragraph-parent{
            
            width: 90%;
            margin: 10px auto;
            display: flex;
            margin-top:40px;
        }
        .paragraph-text{
            flex:2;
            width:60%;
            margin-right:30px;
            margin-left:30px;
        }
        .paragraph-photo{
            flex:1;
            width:30%;
            margin-left:10px;
        }
        .timeline-subject{
            margin-top:20px;
            margin-bottom:10px;
            background-color:slateblue;
            padding:3px;
            border-radius:5px;
            width:90px;

            text-align:center;
            font-size:18px;
            color:whitesmoke;
        }
        .skillbox-parent{
            width: 90%;
            margin: 10px auto;
            display: flex;
            margin-top:40px;
        }
        .skillbox{
            border: 1px solid slateblue;
            background-color:slateblue;
            
            flex:1;
            width:30%;

            margin: 15px;
            padding: 25px;
            border-radius: 15px;  
        }
        .semi-subject-name{
            text-align:center;
            font-size:25px;
            color:white;
        }
        .semi-content{
            margin: 15px;
            text-align:center;
            font-size:15px;
            color: white;
            margin-top:30px;
        }
        .pagebox{
            margin-top:100px;
            margin-bottom:100px;
        }
        
</style>
<div class="pagebox" id="box1">
    <div class="profile-image">
        <img src="{% static "image/Seohee.png" %}" width=200px>
    </div>
    <div class="contents">
        Front-end Developer <br>
    </div>
    <div class="detail">
        안녕하세요 기획하는 개발자 전서희입니다.<br> 새로운 아이디어로 사람들의 삶을 편리하게 바꿔주는 서비스를 개발하고자 합니다.😃
    </div>
    
</div>

<div class="pagebox" id="box2">
    <div class="box-contents">
        <div class="subject">
            <span class="subject-num">
                01.
            </span>
            <span class="subject-name">
                About Me
            </span>
        </div>
        <div class="paragraph-parent">
            <div class="paragraph-text">
                <div class="introduce">
                    안녕하세요! 기획하는 개발자 전서희입니다.<br>
                    성신여자대학교 서비스디자인공학과에 입학하여 다양한 앱, 웹 서비스를 기획 및 디자인하다가
                    컴퓨터공학과를 복수전공하여 프로그래밍 언어와 컴퓨터 기초 이론을 학습하고 있습니다.
                    
                </div>
                <div class="timeline">
                    <div class="timeline-subject">
                        타임라인
                    </div>
                    <div class="timeline-contents">
                        <ul>
                            <li>👶 1998년 7월 25일 출생</li>
                            <li>🏫 북일여자고등학교 졸업 (2014.03 ~ 2017.02)</li>
                            <li>👨‍🎓성신여자대학교 재학 (2017.03 ~)
                                <ul>
                                    <li>서비스디자인공학과</li>
                                    <li>컴퓨터공학과</li>
                                </ul>
                            </li>
                        </ul>
                    </div>       
                </div>
            </div>
            <div class="paragraph-photo">
                <img src="{% static "image/me2.jpeg" %}" width=200px>
            </div>
        </div>
    </div>
</div>

<!-- skill -->

<div class="pagebox" id="box3">
    <div class="subject">
        <span class="subject-num">
            02.
        </span>
        <span class="subject-name">
            Skills
        </span>
    </div>
    <div class="skillbox-parent">
        <div class="skillbox">
            <div class="semi-subject-name">
                Front-end Developer
            </div>
            <div class="semi-content">
                HTML, CSS, Javascript, Python, Java, C++
                React, Django, Git 
            </div>
        </div>
        <div class="skillbox">
            <div class="semi-subject-name">
                Designer
            </div>
            <div class="semi-content">
                Photoshop, Illustrate, Protopie, XD, Figma, Sketch
            </div>
        </div>
        <div class="skillbox">
            <div class="semi-subject-name">
                Planner
            </div>
            <div class="semi-content">
                Powerpoint, Excel, notion 
            </div>
        </div>
    </div>
</div>
{%endblock%}